# Git
.git
.gitignore

# Logs
*.log
error_log

# OS files
.DS_Store
Thumbs.db

# Node (if any)
node_modules

# Docker files (no need to copy these into image)
docker-compose.yml
Dockerfile
.dockerignore
README-docker.md
